
span.MathJax_SVG { zoom : 1.6; }
@media screen {
    html {
        background-color : #ECECEC;
        padding          : 6px;
        zoom: 1.2;
    }
    body {
        width            : auto;
        max-width        : 1280px;
        min-width        : 800px;
        margin           : auto;
        padding          : 18px;
        background-color : #FFFFFE;
        border-radius    : 3px;
        box-shadow       : 0px 0px 16px #808080;
        word-wrap        : break-word;
        line-height      : 150%;
        font-family      : "Microsoft YaHei", "Segoe UI", "Lucida Grande", Helvetica, Arial, FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
        font-size        : 16px;
        color            : #101010;
    }
    h1 {
        margin-top     : 48px;
        margin-bottom  : 20px;
        line-height    : 100%;
        padding-bottom : 6px;
        text-align     : left;
        padding-left   : 30px;
        font-weight    : 900;
        font-size      : 36px;
    }
    h2 {
        margin-top     : 20px;
        margin-left    : 38px;
        margin-right   : 26px;
        margin-bottom  : 0;
        padding-top    : 10px;
        padding-bottom : 20px;
        font-weight    : bold;
        font-size      : 30px;
    }
    h3 {
        margin-top     : 24px;
        margin-bottom  : 24px;
        margin-left    : 38px;
        margin-right   : 30px;
        padding-bottom : 6px;
        color          : #004499;
        border-bottom  : 1px solid #eaecef;
        line-height    : 100%;
        font-weight    : bold;
        font-size      : 24px;
    }
    h4 {
        height            : 24px;
        margin-left       : 38px;
        margin-bottom     : 24px;
        padding-top       : 6px;
        line-height       : 100%;
        font-weight       : bold;
        font-size         : 20px;
    }
    h5 {
        height            : 24px;
        margin-left       : 38px;
        margin-bottom     : 24px;
        padding-top       : 6px;
        line-height       : 100%;
        font-weight       : bold;
        font-size         : 16px;
    }
    h6 {
        height            : 24px;
        margin-left       : 38px;
        margin-bottom     : 24px;
        padding-top       : 6px;
        line-height       : 100%;
        font-weight       : bold;
        font-size         : 16px;
    }
    hr  { margin: 0 31px 0 31px; }
    p  { padding-left: 38px;}
    ol p, ul p  { text-indent : 1px; }
    ol, ul {
        padding-left: 64px;
        padding-right: 48px;
    }
    b  { margin: 4px; color: #004499; }
    a  { color: #0070D0; text-decoration: none; }
    a:hover { text-decoration: underline; }
    code { font-family : "Fira Mono", monospace; }
    p code, ol code, ul code {
        padding-top      : -1px;
        padding-bottom   : 2px;
        padding-left     : 4px;
        padding-right    : 4px;
        background-color : #FAFAFA;
        box-shadow       : 0px 0px 4px #D0D0D0 inset;
        border-radius    : 4px;
    }
    pre code {
        padding          : 0px;
        box-shadow       : 0px 0px 0px #D0D0D0;
        border-radius    : 4px;
    }
    pre {
        margin           : 10px;
        margin-left      : 38px;
        margin-right     : 30px;
        padding          : 10px;
        background-color : #FAFAFA;
        box-shadow       : 0px 0px 4px #D0D0D0 inset;
        border-radius    : 4px;
        line-height      : 130%;
    }
    blockquote {
        margin-right      : 32px;
        background-color  : #FCFCFC;
        color             : #6a737d;
        border-left: 0.25em solid #D5D546;
    }

    blockquote p {
        padding-left      : 12px;
        padding-right     : 8px;

    }

    table {
        margin-bottom    : 10px;
        margin-left      : 32px;
        margin-right     : 32px;
        box-shadow       : 0px 0px 4px #888888;
        border-collapse  : collapse;
        border           : 1px solid #888888;
        text-align       : center;
        font-size        : 14px;
    }
    th {
        padding          : 2px;
        padding-left     : 4px;
        padding-right    : 4px;
        background-color : #E0E0E0;
        font-family      : 黑体;
        font-style       : normal;
        font-weight      : normal;
        border           : 1px solid #888888;
    }
    td {
        padding          : 2px;
        padding-left     : 4px;
        padding-right    : 4px;
        background-color : #FCFCFC;
        border           : 1px dotted #888888;
    }
}
@media print {
    body {
        padding          : 50px;
        background-color : #FFFFFE;
        word-wrap        : break-word;
        line-height      : 150%;
        color            : #101010;
    }
    .hat  { display: none; }
    .foot { display: none; }
    h1 {
        margin-top     : 64px;
        margin-bottom  : 48px;
        padding-bottom : 16px;
        text-align     : left;
        font-weight    : 900;
        font-size      : xx-large;
    }
    h2 {
        margin-top        : 32px;
        padding-top       : 32px;
        padding-bottom    : 6px;
        border-bottom     : solid thin #CCCCCC;
        font-weight       : bold;
        font-size         : x-large;
        page-break-before : always;
    }
    h3 {
        margin-top       : 24px;
        margin-bottom    : 24px;
        padding-bottom   : 6px;
        color            : #004499;
        border-bottom    : dotted thin #004499;
        line-height      : 100%;
        font-weight      : bold;
        font-size        : large;
        page-break-after : avoid;
    }
    h4 {
        background-repeat : no-repeat;
        height            : 24px;
        margin-bottom     : 24px;
        padding-top       : 6px;
        padding-left      : 48px;
        line-height       : 100%;
        font-weight       : bold;
        page-break-after  : avoid;
    }
    p {
        text-indent : 32px;
        page-break-inside: avoid;
    }
    ol p, ul p  {
        text-indent : 1px;
        page-break-inside: avoid;
    }
    ol, ul {
        padding-left: 64px;
        padding-right: 48px;
        page-break-inside: avoid;
    }
    b  { margin: 4px; color: #004499; }
    a  { color: #0070D0; }
    code { font-family : Consolas, "Liberation Mono", Menlo, Courier, monospace; }
    p code {
        padding-top      : -1px;
        padding-bottom   : 2px;
        padding-left     : 4px;
        padding-right    : 4px;
        background-color : #FAFAFA;
        box-shadow       : 0px 0px 4px #D0D0D0 inset;
        border-radius    : 4px;
        font-family : { Consolas, "Liberation Mono", Menlo, Courier, monospace; }
    }
    pre {
        margin           : 10px;
        margin-left      : 30px;
        margin-right     : 30px;
        padding          : 10px;
        background-color : #FAFAFA;
        box-shadow       : 0px 0px 4px #D0D0D0 inset;
        border-radius    : 4px;
        line-height      : 130%;
        page-break-inside: avoid;
    }
    blockquote {
        margin            : 10px;
        padding           : 10px;
        margin-left       : 20px;
        margin-right      : 20px;
        background-color  : #FCFCFC;
        color             : #606060;
        box-shadow        : 0px 0px 16px #888888;
        border-radius     : 2px;
        line-height       : 130%;
        font-size         : small;
        page-break-inside: avoid;
    }
}
